.text {
  height: 100%;
  width: 100%;
  overflow: hidden;
  resize: none;
}

.viewport{
  height: 100%;
  width: 100%;
}

.color{
  width: 36px;
  height: 14px;
  borderRadius: 2px;
}

.swatch{
  padding: 5px;
  background: #fff;
  borderRadius: 1px;
  display: inline-block;
  cursor: pointer;
}
